<% const loggedInUserId = 1 %>
<div hidden style="background-color: white">
  <form method="POST" action="/resources/<%=res.resource_id%>/categories">
    <div class="grid-container grid-container-padded">
      <div class="grid-y grid-padding-y">
        <div class="medium-6 cell">
          <p><%=res.resource_id%></p>
          <h4><%=res.title%></h4>
          <label>Select categories</label>
          <fieldset >
            <input id="chkAca" name="categories" type="checkbox" value="1"><label for="chkAca">Academic</label>
            <input id="chkTut" name="categories" type="checkbox" value="2"><label for="chkTut">Tutorial</label>
            <input id="chkBlo" name="categories" type="checkbox" value="3"><label for="chkBlo">Blog</label>
          </fieldset>
        </div>
      </div>
    </div>
    <div class="grid-container grid-container-padded">
      <div class="grid-x grid-margin-x">
        <div class="cell small-12 medium-6 large-2 ">
          <button type="submit" class="button">Submit</button>
        </div>
      </div>
    </div>
  </form>
</div>
