<% const loggedInUserId = 1 %>
<div class="top-bar top-bar-padding" id="responsive-menu">
  <div class="top-bar-left">
    <ul class="dropdown menu" id="primary-menu" data-dropdown-menu>
      <li class="menu-text">lynkWall</li>
      <li ><a href="/">Browse</a></li>
      <li class="has-submenu">
        <a href="#0">Categories</a>
        <ul class="menu" data-submenu>
            <% if (locals.categories !== undefined) { %>
              <% for (cat of locals.categories){ %>
              <li><a href="/categories/<%=cat.category_id%>/resources"><%=cat.category%></a></li>
              <% } %>
            <% } %>
          </ul>
      </li>
      <li><a href="/users/<%=loggedInUserId%>/resources">My Resources</a></li>
      <li><a id="newResourceBtn" data-open="newResourceForm" href="#">New</a></li>
    </ul>
  </div>
  <div class="top-bar-right">
    <form method="GET" action="/resources/search" >
      <ul class="menu">
        <li><input type="search" name="queryStr" placeholder="Search"></li>
        <li><button type="submit" class="button">Search</button></li>
      </ul>
    </form>
  </div>
</div>
