<!doctype html>
<html lang="en">
<% include partials/_head %>
<body>
  <% include partials/_top-bar %>
    <% for (comment of comments){ %>
    <%}%>

  <% include partials/_footerScripts %>
</body>
</html>


<!-- comments -->
<div class="comment-section-container">
  <h3>Comments (2)</h3>
  <div class="comment-section-author">
    <img src="https://placehold.it/50x50" alt="">
    <div class="comment-section-name">
      <h5><a href="">Janice Jones</a></h5>
      <p>March 12, 2017 at 1:28pm</p>
    </div>
  </div>
  <div class="comment-section-text">
    <p><%=comment.comment_text%>
    </p>
  </div>
  <div class="comment-section-author">
    <img src="https://placehold.it/50x50" alt="">
    <div class="comment-section-name">
      <h5><a href="">Janice Jones</a></h5>
      <p>March 12, 2017 at 1:28pm</p>
    </div>
  </div>
  <div class="comment-section-text">
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean lacinia bibendum nulla sed consectetur. Nulla vitae elit libero, a pharetra augue. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Harum facilis tenetur a voluptatibus quia deserunt.
    </p>
  </div>
</div>
<!--/comments-->