<!doctype html>
<html lang="en">
<% include partials/_head %>
  <body>
      <% include partials/_top-bar %>

      <% console.log('resources length', resources.length); %>
      <% include partials/_newResource.ejs %>
      <div class="grid-container" >
        <div class="grid-x grid-margin-x grid-padding-x grid-padding-y" >
        <% for (let res of resources){ %>

          <div class="card cell small-4" style="width: 300px;">
            <img class="thumbnail" alt="Resource image" src="<%=res.imageURL%>">
            <div class="card-section">
              <h4><%= res.title %></h4>
              <a class="float-right">
                <i class="far fa-thumbs-up"></i>
              </a>

              <p><%= res.description %></p>
              <a class="button expanded" href="<%=res.URL %>" >Read More</a>
            </div>
          </div>
        <% } %>
        </div>

      </div>
     <% include partials/_footerScripts %>
  </body>
</html>
