$light-gray: #aaa;
$white: #eee;
$global-padding: 2em;
$comment-section-bg: $white;
$comment-section-padding: $global-padding;

.comment-section {
  background-color: $comment-section-bg;
  padding: $global-padding;
}

.comment-box {
  background-color: $comment-section-bg;
  padding: $global-padding;  
}

.resource-image {
  display: flex;
  justify-content: center;
  margin: 1em;

  img {
    height: 250px;
    width: 250px;
  }
}

.ratings-likes {
  padding: 1em;
}
