$light-gray: #aaa;
$white: #eee;
$global-padding: 2em;
$comment-form-bg: $light-gray;
$comment-section-bg: $white;
$comment-section-padding: $global-padding;

.comment-section-container {
  background-color: $comment-section-bg;
  padding: $global-padding;
}

.comment-section-author {
  display: flex;
  align-items: center;
  margin-bottom: 1rem;

  .comment-section-name {
    margin-left: 1rem;

    p {
      margin-bottom: 0;
    }
  }
}

.comment-section-box {
  background-color: $comment-form-bg;
  padding: $global-padding;
}

.comment-section-container {
  background-color: #eee;
}

.comment-section-author {
  display: flex;
  align-items: center;
  margin-bottom: 1rem;
}

.comment-section-author .comment-section-name {
  margin-left: 1rem;
}

.comment-section-author .comment-section-name p {
  margin-bottom: 0;
}

.comment-section-box {
  background-color: #bde;
  padding: 1.5em;
}

.thumbnail {
  width: 30%;
  height: 50%;
  margin:auto;
}
.card-divider {
  justify-content: space-around;
  margin: 0 10em;
}