$light-gray: #aaa;
$white: #eee;
$global-padding: 2em;
$comment-form-bg: $light-gray;
$comment-section-bg: $white;
$comment-section-padding: $global-padding;

.comment-section {
  background-color: $comment-section-bg;
  padding: $global-padding;

  author {
    display: flex;
    align-items: center;
    margin-bottom: 1rem;
  
    name {
      margin-left: 1rem;
  
      p {
        margin-bottom: 0;
      }
    }
  }
  box {
    background-color: $comment-form-bg;
    padding: $global-padding;
  }
  .card-divider {
    justify-content: space-around;
    margin:1em 10em 1em 10em;
  }
}

.thumbnail {
  width: 30%;
  height: 50%;
  margin:auto;
}

