.rating {
    unicode-bidi: bidi-override;
    direction: rtl;    
    input {
      position: absolute;
      left: -999999px;
    }
    label {
      display: inline-block;
      font-size: 0;
    }
    > label:before {
        position: relative;
        font: 24px/1 FontAwesome;
        display: block;
        content: "\f005";
        color: #ccc;
        background: -webkit-linear-gradient(-45deg, #d9d9d9 0%, #b3b3b3 100%);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
    }
    > label:hover:before,
    > label:hover ~ label:before,
    > label.selected:before,
    > label.selected ~ label:before {
        color: #f0ad4e;
        background: -webkit-linear-gradient(-45deg, #fcb551 0%, #d69a45 100%);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
    }
  }
